a:hover{
  color:#FF5B76 !important;
}

#footerlink {
  text-decoration:none !important;

}

#footerlink:visited {
  color:black;
}

button:hover{
  background-color: #A0ECBA !important;
  color:#FF5B76 !important;
}
table{
  margin-top: 30px;
  margin-left: 600px;
  font-size: 1.5em;
  background-color: #A0ECBA;
}
td{
  padding: 20px;
  border: white 2px solid;
}
