

a:hover{
    color:#FF5B76 !important;
}

#footerlink {
    text-decoration:none !important;
   
}

#footerlink:visited {
    color:black;
}

button:hover{
    background-color: #A0ECBA !important;
    color:#FF5B76 !important;
}

/* input:invalid {
    border: 1px dashed #FF5B76;
  }
  
  /* input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  } */
  
  /* input:valid {
    border: 2px solid black; */ */

@media screen and (max-width: 480px) { 
    #illustTop{
        display: none;
    }
    #illustTopSalon {
        display:none !important;
    }
    #illustTopSalon2{
        display:none !important;
    }
}; 