.bodybg{
    background: url('../img/salon1.jpg') no-repeat center fixed;
    background-size: cover;

}

.adminbg{
    background: url('../img/onlinebooking.jpg') no-repeat center fixed;
    background-size: cover;
}
/* Customisation of datepicker style */
.ui-widget {
    width:100% !important;
    height:100% !important;
    border:2px solid blue!important;
    border-radius:10px!important;
}

.ui-datepicker {
    background-color: rgb(160,236,186)!important;
}

.ui-datepicker-calendar td {
    font-size: 1.5rem;
}

.ui-state-default {
    background-color:lemonchiffon!important;
}

.ui-state-highlight {
    background-color:lightpink!important;
}

.ui-state-active {
    background-color:aqua!important;
}

.ui-datepicker-current {
    background-color:aquamarine!important;
}

.ui-priority-secondary {
    background-color:lightpink!important;
}

.ui-datepicker-title {
    font-size: 1.5rem;
    background-color: aqua!important;
}

.ui-datepicker-prev {
    background-color:lemonchiffon!important;
}

.ui-datepicker-next {
    background-color:lemonchiffon!important;
    float: right;
    cursor: pointer!important;
}
/* End customisation */

/* Customisation timepicker */
.clockpicker-popover {
    position: absolute!important;
    background-color: lemonchiffon!important;
    background: lemonchiffon!important;
    border:2px solid blue!important;
    border-radius:10px!important;
}
.clockpicker-content {
    background-color: lemonchiffon!important;
    background: lemonchiffon!important;
    color:lemonchiffon!important;
}

.navbar h3 {
	color:aqua!important;
	margin-top: 14px;
}
.hljs-pre {
	background: teal!important;
	padding: 3px;
}
.footer {
	border-top: 1px solid #eee;
	margin-top: 40px;
	padding: 40px 0;
}
.input-group {
	width: 400px;
	margin-bottom: 10px;
}
.pull-center {
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media (max-width: 767px) {
  .pull-center {
    float: right;
  }
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: lemonchiffon;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

/* End customisation timepicker */
.nav_bar{
    background-color: rgb(160,236,186);
}

.paragraph{
    color:rgb(255,91,118);
}

.bgbs{
    background-color:rgb(255,91,118);
}

.bgnav{
    background-color: rgb(160,236,186);
}

.input{
    background-color: rgb(160,236,186);
}

.logo{
    width:90px;
    height:70px;
}

.bsfont{
    color: #FF5B76!important;
    font-family: 'DM Serif Display', serif;
}

a:hover{
    color:#FF5B76 !important;
}

#footerlink {
    text-decoration:none !important;

}

#footerlink:visited {
    color:black;
}

.bsbtn1{
    background-color:rgb(160,236,186) !important;
}

.bsbtn1:hover {
    background-color: rgb(95, 168, 228) !important;
    /* color:#FF5B76 !important; */
}

.bsbtn2{
    background-color:rgb(255,91,118) !important;
}

.bsbtn2:hover {
    background-color: rgb(95, 168, 228) !important;
    /* color:#FF5B76 !important; */
}

.bsbtn3 {
    background-color: orange !important;
}

.bsbtn3:hover {
    background-color: red !important;
}

.bsIconButtonTrash {
    border :0;
    background-color: transparent;
}

.bsIconButtonPencil {
    border :0;
    background-color: transparent;
}

.buttonmodif {
  background-image: url(../img/icons/icons8-modifier-30.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 50px;
  width: 50px;
  border: none;
}

.buttondelete {
    background-image: url(../img/icons/icons8-effacer-48.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 50px;
    width: 50px;
    border: none;
}

.buttonvoir {
    background-image: url(../img/icons/icons8-loupe-50.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 50px;
    width: 50px;
    border: none;
}

.bi-pencil {
    color:rgb(95, 168, 228);
}

.bi-pencil:hover {
    color: blue ;
}

.bi-trash {
    color:orange;
}

.bi-trash:hover {
    color:red;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
}

/* Style for grid items (placeholders; customize according to your content) */
.grid-item {
    text-align: center;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
}

.bandeau{
    pointer-events:none;
}

.boldfonts {
    font-weight: bold;
}

.smallfonts {
    font-size: small;
}