.bodybg{
    background: url('../img/salon1.jpg') no-repeat center fixed;
    background-size: cover;

}

.adminbg{
    background: url('../img/onlinebooking.jpg') no-repeat center fixed;
    background-size: cover;
}

.nav_bar{
    background-color: rgb(160,236,186);
}

.paragraph{
    color:rgb(255,91,118);
}

.bgbs{
    background-color:rgb(255,91,118);
}

.bgnav{
    background-color: rgb(160,236,186);
}

.input{
    background-color: rgb(160,236,186);
}

.logo{
    width:90px;
    height:70px;
}

.bsfont{
    color: #FF5B76!important;
    font-family: 'DM Serif Display', serif;
}

a:hover{
    color:#FF5B76 !important;
}

#footerlink {
    text-decoration:none !important;

}

#footerlink:visited {
    color:black;
}

.bsbtn1{
    background-color:rgb(160,236,186) !important;
}

.bsbtn1:hover {
    background-color: rgb(95, 168, 228) !important;
    /* color:#FF5B76 !important; */
}

.bsbtn2{
    background-color:rgb(255,91,118) !important;
}

.bsbtn2:hover {
    background-color: rgb(95, 168, 228) !important;
    /* color:#FF5B76 !important; */
}

.bsbtn3 {
    background-color: orange !important;
}

.bsbtn3:hover {
    background-color: red !important;
}

.bsIconButtonTrash {
    border :0;
    background-color: transparent;
}

.bsIconButtonPencil {
    border :0;
    background-color: transparent;
}

.buttonmodif {
  background-image: url(../img/icons/icons8-modifier-30.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 50px;
  width: 50px;
  border: none;
}

.buttondelete {
    background-image: url(../img/icons/icons8-effacer-48.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 50px;
    width: 50px;
    border: none;
}

.buttonvoir {
    background-image: url(../img/icons/icons8-loupe-50.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 50px;
    width: 50px;
    border: none;
}

.bi-pencil {
    color:rgb(95, 168, 228);
}

.bi-pencil:hover {
    color: blue ;
}

.bi-trash {
    color:orange;
}

.bi-trash:hover {
    color:red;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
}

/* Style for grid items (placeholders; customize according to your content) */
.grid-item {
    text-align: center;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
}

.bandeau{
    pointer-events:none;
}

.boldfonts {
    font-weight: bold;
}

.smallfonts {
    font-size: small;
}